# Laravel
/bootstrap/compiled.php
/vendor

# Configuration
/app/config/local
/app/config/staging
/app/config/production

# Tools
/node_modules

# compiled assets
/public/assets/compiled
/public/assets/css/public.css
/public/assets/css/admin.css

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/

# Packages
_ide_helpers.php
